@keyframes slideDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}
.navbar {
  animation-name: slideDown;
  animation-duration: 1s; /* Adjust duration and timing function as needed */
  font-family: "Anta";
  font-weight: 400;
  font-style: normal;
}
